In [ ]:
x = {"New York", "Los Angeles", "Chicago"}
y = {"Los Angeles", "Chicago", "San Francisco"}
print(x-y)
print(y-x)
print(x|y)
y.add("New Jersey")
print(y)
# 1. Print places you want to visit but your friend doesnt.
# 2. Print places your friend want to visit but you dont.
# 3. Print places you both want to visit.
# 4. Add New Jersery to your friend's list.

{'New York'}
{'San Francisco'}
{'Los Angeles', 'Chicago', 'New York', 'San Francisco'}
{'Los Angeles', 'San Francisco', 'Chicago', 'New Jersey'}

In [ ]:
s= {1,2,3}
s.add(4)
s

{1, 2, 3, 4}

In [ ]:
s.update([5,6])

In [ ]:
print(s)
s.remove(3)

{1, 3, 4, 5, 6}

In [ ]:
s

{1, 4, 5, 6}

In [ ]:
#Dictionary
person ={"name":"Alice","age": 30, "city":"New York"}
print(person)
print(person["name"])
print(person)
print(person["age"])
person["age"] = 31
print(person)
print(person["city"])
person["job"] = "Engineer"
person

{'name': 'Alice', 'age': 30, 'city': 'New York'}
Alice
{'name': 'Alice', 'age': 30, 'city': 'New York'}
30
{'name': 'Alice', 'age': 31, 'city': 'New York'}
New York

{'name': 'Alice', 'age': 31, 'city': 'New York', 'job': 'Engineer'}

In [ ]:
car = {"make":"Tesla","model": "SUV","year": 2023,"color":"red"}
print(car)
print(car["year"])
print(car)
car["color"] = "yellow"
print(car)
car["price"] = 50000
car

{'make': 'Tesla', 'model': 'SUV', 'year': 2023, 'color': 'red'}
2023
{'make': 'Tesla', 'model': 'SUV', 'year': 2023, 'color': 'red'}
{'make': 'Tesla', 'model': 'SUV', 'year': 2023, 'color': 'yellow'}

{'make': 'Tesla',
 'model': 'SUV',
 'year': 2023,
 'color': 'yellow',
 'price': 50000}

In [ ]:
person = {"name": ["Alice","Bob","John"],
          "age": [30,15,23],
          "city": ["New York","Jersey","Ohio"]}

person

{'name': ['Alice', 'Bob', 'John'],
 'age': [30, 15, 23],
 'city': ['New York', 'Jersey', 'Ohio']}

In [ ]:
students = ["Alice","Bob","Charlie","David","Eve"] #list
subjects = ("Maths", "Science","History")#tuple
submitted={"Alice","Charlie","Eve"} #set
marks ={"Alice": 85, "Bob": 70, "Charlie": 90,"David": 60,"Eve": 95} #dic

print(students[0])
print(students[-1])
students.append("Frank")
print(students)
#subjects.add("Maths")
print("Tuples are immutable")
# Print the list of studentswho didn't submitted
print(set(students)-submitted)
#print the name of students who scored above 80 using the dictionary

for student, score in marks.items():
  if score > 80:
    print(student)

Alice
Eve
['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']
Tuples are immutable
{'David', 'Frank', 'Bob'}
Alice
Charlie
Eve

In [ ]:
marks["Frank"]= 77
print("Frank" in submitted)

False

In [ ]:
students

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank']

In [ ]:
marks

{'Alice': 85, 'Bob': 70, 'Charlie': 90, 'David': 60, 'Eve': 95, 'Frank': 77}

In [ ]:
cart =["laptop","phone","charger","laptop","mouse",]

In [2]:
# List of student names
students = ["Alice", "Bob", "Charlie", "David", "Eve"]
# Tuple of subject codes
subjects = ("Math", "Science", "History")
# Set of students who submitted the assignment
submitted = {"Alice", "Charlie", "Eve"}
# Dictionary of marks
marks = {
"Alice": 85,
"Bob": 70,
"Charlie": 90,
"David": 60,
"Eve": 95
}

# Mini Exercise: Student Management System
# 1. Print the name of the first and last student using indexing.
# 2. Add a new student "Frank" to the student list.
# 3. Try adding "Math" again to the subjects tuple (What happens? Why?).
# 4. Print the list of students who did not submit the assignment using set operations.
# 5. Print the names of students who scored above 80 using the dictionary.
# 6. Add "Frank" with marks 77 to the dictionary and check if he’s in the submitted set.
# 7. Remove "Bob" from the student list and delete his entry from the marks dictionary.

In [3]:
print(students[0])
print(students[-1])

Alice
Eve

In [6]:
# 2. Add a new student "Frank" to the student list.
students.append("Frank")
students

['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Frank']

In [10]:
# 3. Try adding "Math" again to the subjects tuple (What happens? Why?).
subjects.add("Math")

AttributeError: 'tuple' object has no attribute 'add'

In [12]:
# 4. Print the list of students who did not submit the assignment using set operations.
print(set(students)-submitted)

{'David', 'Bob', 'Frank'}

In [14]:
# 5. Print the names of students who scored above 80 using the dictionary.
for students, score in marks.items():
     if score > 80:
        print(students)

Alice
Charlie
Eve

In [17]:
# 6. Add "Frank" with marks 77 to the dictionary and check if he’s in the submitted set.
marks["Frank"] = 77
print(marks)
submitted

{'Alice': 85, 'Bob': 70, 'Charlie': 90, 'David': 60, 'Eve': 95, 'Frank': 77}

{'Alice', 'Charlie', 'Eve'}

In [23]:
students = ["Alice", "Bob", "Charlie", "David", "Eve"]
students

['Alice', 'Bob', 'Charlie', 'David', 'Eve']

In [24]:
# 7. Remove "Bob" from the student list and delete his entry from the marks dictionary.
# marks.pop("Bob")
print(marks)
print(students)

students.remove("Bob")
print(students)

{'Alice': 85, 'Charlie': 90, 'David': 60, 'Eve': 95, 'Frank': 77}
['Alice', 'Bob', 'Charlie', 'David', 'Eve']
['Alice', 'Charlie', 'David', 'Eve']

In [26]:
# You’re managing a small e-commerce cart:
# List of items in cart
cart = ["laptop", "phone", "charger", "laptop", "mouse", "phone"]
# Tuple of available categories
categories = ("electronics", "accessories", "home_appliances")
# Set of items on discount
discount_items = {"charger", "mouse", "keyboard"}
# Dictionary with item prices (in ₹)
prices = {
"laptop": 55000,
"phone": 30000,
"charger": 1000,
"mouse": 700,
"Keyboard": 1200
}
# Tasks
# 1. Find how many unique items are in the cart.
# 2. Print the total price of the cart (counting repeated items).
# 3. List all items in the cart that are on discount.
# 4. Try adding a new category to categories tuple (what happens?).
# 5. Create a dictionary that maps each item in the cart to its quantity.
# 6. Find the most expensive item in the cart.

In [27]:
# 1. Find how many unique items are in the cart.

print(cart)
print(set(cart))

['laptop', 'phone', 'charger', 'laptop', 'mouse', 'phone']
{'mouse', 'phone', 'charger', 'laptop'}

In [ ]:
print(discount_items-set(cart))

{'keyboard'}

In [ ]:
print(set(cart) -discount_items)

{'phone', 'laptop'}

In [30]:
# 2. Print the total price of the cart (counting repeated items).
totalprice = 0
for item in cart:
   item_price = prices.get(item, 0)
   totalprice += item_price

print(totalprice)

171700

In [32]:
# 3. List all items in the cart that are on discount.
list_items = []
for item in cart:
  if item in discount_items:
     list_items.append(item)
print(list_items)

['charger', 'mouse']

In [ ]:
# 4. Try adding a new category to categories tuple (what happens?).